

event/resource/*
!event/resource/shuffle_split.py
result/
bert-base-uncased/
sup-simcse-bert-base-uncased/
data/
demo/
SentEval/
*.log
__pycache__/
LDCCorpus/gigaword_eng_5/*

*.gz
*.pt
glove.6B.100d.ext.txt



log_Event_Glove_CL/
event/models/